@import '../node_modules/bootstrap/scss/bootstrap';




body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: auto;
}

body {
  background: linear-gradient(#BDD5EA, #FE5F55);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  // z-index: -1; // ZM
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-collapse {
  background-color: #f7f7ff;
  padding: 3px 10px;
  width: fit-content;
  border-radius: 10px;
  margin: 5px;
}


#mainNavbar {
  background-color: #f7f7ff;
  box-shadow: 0 3px 3px black;
  width: 100%;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  z-index: 3;
  display: flex;
  align-content: center;
}

.navbar-brand,
.btn,
.navbar-toggler {
  background-color: #f7f7ff;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 0 3px black;
}

.btn:hover,
.navbar-toggler:hover,
.navbar-brand:hover {
  background-color: #BDD5EA;
}

.mapboxgl-marker>svg path {
  fill: #FE5F55;
}

.page-content {
  display: flex;
  width: 95%;
  background-color: #f7f7ff;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #495876;
  border-radius: 10px;
  z-index: 1;
  height: 100%;
}

.map-box {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 0;
  top: 55px;
}


// POTHOLE PROFILE SCSS
.post {
  background-color: white;
  max-width: 500px;
  border: 1px solid lightgray;
}

.potHole_img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.post_header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post_caption {
  margin-top: 40px;
  display: flex;
  padding-left: 20px;
  justify-content: left;
  align-items: center;
}

.avatar {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

.caption {
  padding-bottom: 35px;
}

// POTHOLE PROFILE SCSS
