$detail: black;
$background: rgba(0, 0, 0, 0);
$card-background: #F2CC8F;
$card-background-2: #E07A5F;

$dark-detail: rgb(189, 188, 188);
$dark-background: rgba(0, 0, 0, 0.507);
$dark-card-background: #6b5c42;
$dark-card-background-2: #764132;

.about {
  padding: 5% 10% 10%;
}

.about-content {
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #F2CC8F;
  border: 2px solid black;
  box-shadow: 3px 3px black;

  h1 {
    margin: 10px;
  }

  p {
    margin: 5px;

    button {
      margin: 10px;
      padding: 3px;
      background-color: #E07A5F;
      border-radius: 10px;
      box-shadow: 3px 3px black;
    }
  }
}

.team-photos {
  display: flex;
  justify-content: space-evenly;

  img {
    object-fit: cover;
    width: 10vw;
    height: 10vh;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 10px;
  }
}

.badges {
  display: flex;
  flex-direction: column;
}

.badge-images {
  display: flex;
  justify-content: center;
  border: 1.4px solid black;
  padding: 9px;
  margin: 3px;
  align-items: center;
  border-radius: 10px;

  p {
    display: flex;
    margin: 10px;
    width: 50%;
    justify-content: flex-end;
  }
}

.reported {
  font-weight: bold;
}

.dark-mode {
  .about-content {
    background-color: $dark-card-background;
    border: 2px solid $dark-detail;
    box-shadow: 3px 3px $dark-detail;

    p {
      button {
        background-color: $dark-card-background-2;
        box-shadow: 3px 3px $dark-detail;
      }
    }
  }

  .team-photos {
    img {
      border: 2px solid $dark-detail;
    }
  }

  .badge-images {
    border: 1.4px solid $dark-detail;
  }
}
