.about {
  padding: 15px 15px 30px;
}

.about-content {
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #F2CC8F;
  border: 1px solid black;
  box-shadow: 3px 3px black;

  h1 {
    margin: 10px;
  }

  p {
    margin: 5px;

    button {
      margin: 10px;
      padding: 3px;
      background-color: #E07A5F;
      border-radius: 10px;
      box-shadow: 3px 3px black;
    }
  }
}

.team-photos {
  display: flex;
  justify-content: space-evenly;

  img {
    object-fit: cover;
    width: 15vw;
    height: 15vh;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
  }
}

.badges {
  display: flex;
  flex-direction: column;
}

.badge-images {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  padding: 9px;
  margin: 3px;
  align-items: center;
  border-radius: 10px;

  p {
    display: flex;
    margin: 10px;
    width: 50%;
    justify-content: flex-end;
  }
}

.reported {
  font-weight: bold;
}

.dark-mode {
  .about-content {
    background-color: $dark-card-background;
    border: 1px solid $dark-detail;
    box-shadow: 3px 3px $dark-detail;

    p {
      color: $dark-detail;

      button {
        background-color: $dark-card-background-2;
        box-shadow: 3px 3px $dark-detail;
        color: $dark-detail;
        border: 1px solid $dark-detail;
      }
    }
  }

  .team-photos {
    img {
      border: 1px solid $dark-detail;
    }
  }

  .badge-images {
    border: 1px solid $dark-detail;
  }
}
