.infinite-scroll-component {
  display: block;
  margin-left: auto;
  margin-right: auto
}



.pothole-container {
  background: #f2cc8f;
  width: 60%;
  height: 20%;
  display: block;
  margin: 10px auto;
  margin-bottom: 20px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 10px 10px 2px rgb(0, 0, 0);

  p {
    width: 80%;
    margin: auto;
    color: black;
    text-align: center;
    word-break: break-all;
  }

  h3 {
    margin: 15px;
  }

  .pothole-img {
    width: 90%;
    height: 70%;
    margin: 15px auto;
    display: flex;
    border-radius: 10px;
    border: 2px solid black;
  }
}

.img-border {
  background-color: #E07A5F;
  position: relative;
  width: 100%;
  height: 50%;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  margin: auto;
  border-top: 2px solid black;

  .user-img {
    object-fit: cover;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid black;
  }

  .badge-img {
    position: absolute;
    height: 38px;
    left: 63px;
    top: 3px;
    min-width: 20px;
    max-width: 50px;
  }
}

.feed-button {
  background-color: #f2cc8f !important;
}