$detail: black;
$background: rgba(0, 0, 0, 0);
$card-background: #F2CC8F;
$car-background-2: #E07A5F;

$dark-detail: white;
$dark-background: rgba(0, 0, 0, 0.507);
$dark-card-background: #6b5c42;
$dark-car-background-2: #764132;


.infinite-scroll-component {
  display: block;
  margin-left: auto;
  margin-right: auto
}



.pothole-container {
  background: $card-background;
  width: 60%;
  height: 20%;
  display: block;
  margin: 10px auto;
  margin-bottom: 20px;
  border: 2px solid $detail;
  border-radius: 10px;
  box-shadow: 3px 3px $detail;

  h2 {
    width: 80%;
    margin: auto;
    color: $detail;
    text-align: center;
  }

  h3 {
    margin: 15px;
  }

  .pothole-img {
    width: 90%;
    height: 70%;
    margin: 15px auto;
    display: flex;
    border-radius: 10px;
    border: 2px solid $detail;
  }
}

.caption-container {
  background-color: $car-background-2;
  position: relative;
  width: 100%;
  height: 50%;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  margin: auto;
  border-top: 2px solid $detail;
  min-height: 100px;

  p {
    max-width: 75%;
    overflow-wrap: break-word;
    padding: 20px;
    margin-left: 50px;
  }

  .user-img {
    position: absolute;
    top: 10px;
    left: 10px;
    object-fit: cover;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid black;
  }

  .badge-img {
    position: absolute;
    height: 38px;
    left: 63px;
    top: 3px;
    min-width: 20px;
    max-width: 50px;
  }
}

.feed-buttons {
  display: flex;
  justify-content: center;
  margin: 10px;
}

// FILTER BUTTONS

.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  margin: auto;
  box-shadow: 3px 3px $detail;
}

.btn-group>.btn {
  // default button color
  background: $car-background-2;
}

.btn-check+.btn:hover {
  // the color of the button on hover
  background-color: $card-background;
}

.btn-primary {
  --bs-btn-color: $detail;
  --bs-btn-hover-bg: #1472cf;
  --bs-btn-hover-border-color: #565e64;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: $detail;
  --bs-btn-active-bg: #81B29A;
  --bs-btn-active-border-color: #51585e;
  --bs-btn-active-shadow: inset 0 3px 5px $detail;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6c757d;
  --bs-btn-disabled-border-color: #6c757d;
}


/*
DARK MODE STARTS RIGHT HERE
*/

.dark-mode {
  .pothole-container {
    background: $dark-card-background;
    border: 2px solid $dark-detail;
    box-shadow: 3px 3px $dark-detail;
    h2 {
      width: 80%;
      margin: auto;
      color: $dark-detail;
      text-align: center;
    }
  
    .pothole-img {
      border: 2px solid $dark-detail;
    }
  }
  
  .caption-container {
    background-color: $dark-car-background-2;
    border-top: 2px solid $dark-detail;

    .user-img {
      border: 2px solid $dark-detail;
    }
  }
}