.infinite-scroll-component {
  display: block;
  margin-left: auto;
  margin-right: auto
}



.pothole-container {
  background: #f2cc8f;
  width: 60%;
  height: 20%;
  display: block;
  margin: 10px auto;
  margin-bottom: 20px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 3px 3px rgb(0, 0, 0);

  h2 {
    width: 80%;
    margin: auto;
    color: black;
    text-align: center;
  }

  h3 {
    margin: 15px;
  }

  .pothole-img {
    width: 90%;
    height: 70%;
    margin: 15px auto;
    display: flex;
    border-radius: 10px;
    border: 2px solid black;
  }
}

.caption-container {
  background-color: #E07A5F;
  position: relative;
  width: 100%;
  height: 50%;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  margin: auto;
  border-top: 2px solid black;
  min-height: 100px;

  p {
    max-width: 75%;
    overflow-wrap: break-word;
    padding: 20px;
    margin-left: 50px;
  }

  .user-img {
    position: absolute;
    top: 10px;
    left: 10px;
    object-fit: cover;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid black;
  }

  .badge-img {
    position: absolute;
    height: 38px;
    left: 63px;
    top: 3px;
    min-width: 20px;
    max-width: 50px;
  }
}

.feed-buttons {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  margin: auto;
}

.btn-group>.btn {
  background: #E07A5F;
}

.btn-check+.btn:hover {
  background-color: #81B29A;
}

.btn-secondary {
  --bs-btn-color: #000;
  --bs-btn-hover-bg: #1472cf;
  --bs-btn-hover-border-color: #565e64;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f2cc8f;
  --bs-btn-active-border-color: #51585e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6c757d;
  --bs-btn-disabled-border-color: #6c757d;
}