#addPothole {
  position: relative;
  // margin-top: 30%;
  // width: 90%;
  // height: 75%;
}

.formView{
  background-color: $yellow;
  border: 2px solid $black;
  box-shadow: 6px 6px 0px $black;
  border-radius: 16px;
  padding: 2em;
}

#potholeForm{
  background-color: $muted-pearl;
  border: 2px solid $black;
  border-radius: 8px;
  padding: 2em;
}

.formButton{
  background-color: $red;
  border: 1px solid $black;
  box-shadow: 3px 3px 0px $black;
  margin-bottom: 2em;
}

.progress-bar {
  background-color: $blue;
  border: 1px solid $black;
}