//GENERAL FORM
#addPothole {
  position: relative;
  margin-top: 2em;
}

.formView{
  background-color: $yellow;
  border: 2px solid $black;
  box-shadow: 6px 6px 0px $black;
  border-radius: 16px;
  padding: 1em;
}

.formSectionView{
  background-color: $muted-pearl;
  border: 2px solid $black;
  border-radius: 8px;
  padding: 1em;
}

//TEXT 
.formText{
  color: $black;
  margin-bottom: 1em;
  font-weight: 800;
  display: block;
}

.formQuestion{
  font-family: $Spectral;
  font-size: 1em;
}

.formInfo{
  font-family: $Poppins;
  font-size: .75em;
  margin-bottom: 2em;
}

.headerText{
  font-size: 1.5em;
}

.subText{
  font-size: .75em;
}

//BUTTONS 
.formButton{
  background-color: $muted-pearl;
  border: 2px solid $black;
  box-shadow: 3px 3px 0px $black;
  color: $black;
  &:hover,
  &:focus {
    border: 2px solid $black !important;
    background-color: $red !important;
  };
  // margin-top: .75em;
}
  .genFormButton{
    margin-top: .75em;
  }

  #nextFormButton {
    margin-top: 2.25em;
  }
  
  //WELCOME VIEW
  #welcomeSection {
    text-align: center;
  }

  //LOCATION VIEW
  #formZip {
    visibility: hidden;
    position: absolute;
    // left: -999em;
  }

  #mapGroup {
    text-align: center;
  }

  //PROGRESS BAR
.progress {
  margin-top: 2em;
  background-color: $muted-pearl;
  border: 1px solid $black;
  .progress-bar {
    background-color: $green;
  }
}

