//GENERAL FORM STYLING
#addPothole {
  position: relative;
  font-weight: 800;
  width: 100%;
  padding: 15px 15px 30px;
}

.questionGroup{
  margin-bottom: 4%;
}

.formView {
  background-color: $yellow;
  border-radius: 16px;
  padding: 1em;
  @include border-shadow;
}

.formSectionView {
  background-color: $muted-pearl;
  border: 2px solid $black;
  border-radius: 8px;
  padding: 1em;
  #statusSection{
    #ratingPot{
      .bi-cone-striped{
        width: 100%;
        height: 100%;
      }
    }
  }
}

//TEXT STYLING
.formQuestion {
  @extend h4;
  margin-bottom: 1em;
}

.formText {
  margin-bottom: 3%;
  color: $blue;
}

.header {
  margin: 0;
}

//BUTTONS
.genFormButton {
  margin-top: .75em;
}

#buttons {
  justify-content: center;
  align-items: center;
  margin-top: 2em;

  #resubmitFormButton {
    margin-right: 1em;
  }

  #nextFormButton {
    margin-left: 1em;
    padding-right: .25em;
  }
}

//WELCOME VIEW
#welcomeSection,
#mapFormSection,
#formSectionView {
  text-align: center;
  h3,
  h4,
  p {
    margin: 1em 0;
  }
}

//LOCATION VIEW
.formZip {
  visibility: hidden;
  position: absolute;
}

#mapGroup {
  @include border-shadow(2px 2px 0px $black);
  text-align: center;
  margin-bottom: 2.5 em;
}

.addAddressInput{
  @extend p;
  padding: .25em;
}

//PHOTO VIEW
#imgInput {
  margin-top: 1em;
  width: 400;
  height: 400;

  img {
    max-width: 100%;
    min-width: 100%;
    display: block;
  }
}

.captionBox{
  @extend p;
  margin-bottom: 2em;
}

//STATUS VIEW
.form-check-label{
  @extend .formText;
}

.moreDef{
  color: $dark-green;
}

//PROGRESS BAR
.progress {
  margin-top: 2em;
  background-color: $muted-pearl;
  @include border-shadow(1px 1px 0px $black);

  .progress-bar {
    background-color: $green;
  }
}

#addAddressInput{
  @extend p;
  padding: .25em;
}


#captionBox{
  @extend p;
  margin-bottom: 2em;
}


//SUBMIT
#submit{
  justify-content: center;
  align-items: center;
  text-align: center;

  .formView{
    text-align: left;
    box-shadow: none;
    margin: .5em 0;
    
    h4{
      margin-bottom: .5em;
    }

    p{
      font-style: italic;
    }
    
    .submitList{
      margin-top: 1em;
      margin-bottom: 1em;
      
      .list{
        margin-bottom: .5em;
        span{
          color: $blue;
        }
      }
    }
  }









  // .accordion{
  //   margin: 2em 0;
    // background-color: $muted-pearl;
  // }

  // .accordion-button {
  //   background-color: $green;
  //   color: white;
  //     .accordion-button:not(.collapsed){
  //       color: white !important; 
  //     }
  // }

  // .accordion-button:focus {
  //   box-shadow: none;
  // }

  // .accordion-button:not(.collapsed) {
  //   color: #212529;
  // }


}