.map-box,
.mapbox {
  position: fixed;
  width: 100%;
  height: 100%;
}

.mapPopup {
  border-radius: 20px;
  box-shadow: -3px 3px 0px rgb(0, 0, 0);
  border: 2px solid black;
  background-color: black;

  img {
    border-radius: 20px;
    object-fit: cover;
    height: 100px;
    width: 100px;
  }

  a {
    display: flex;
  }
}

.mapboxgl-user-location-accuracy-circle {
  display: none;
}

.mapboxgl-popup-close-button,
.mapboxgl-popup-close-button button:not(:disabled),
.mapboxgl-popup-close-button>button>[type='button']:not(:disabled):focus {
  box-shadow: -1px 1px black;
  border-radius: 100%;
  background-color: #f2cc8f;
  border: 2px solid black;
  margin: -10px;
  height: 25px;
  width: 25px;
  line-height: 10px;
}

.mapboxgl-popup-close-button:hover {
  background-color: #e07a5f;
  box-shadow: none;
}

.mapboxgl-popup-content {
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: rgb(0, 0, 0);
}

.mapboxgl-marker {
  svg {
    path {
      fill: #e07a5f;
    }
  }

  circle {
    fill: #F2CC8F;
    stroke: $muted-pearl;
  }
}


.dark-mode {


  .mapPopup {
    box-shadow: -3px 3px 0px $dark-detail;
    border: 2px solid $dark-detail;
    background-color: $dark-detail;

    img {
      border-radius: 20px;
      object-fit: cover;
      height: 100px;
      width: 100px;
    }
  }

  .mapboxgl-popup-close-button,
  .mapboxgl-popup-close-button button:not(:disabled),
  .mapboxgl-popup-close-button>button>[type='button']:not(:disabled):focus {
    box-shadow: -1px 1px $dark-detail;
    background-color: $dark-card-background;
    border: 2px solid $dark-detail;
  }

  .mapboxgl-popup-close-button:hover {
    background-color: $dark-card-background-2;
    box-shadow: none;
  }

  .mapboxgl-popup-content {
    background-color: $dark-detail;
    box-shadow: none;
    border-radius: 20px;
  }

  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: $dark-detail;
  }
}