#pothole-profile-slider{
  height: 100%;
}

.post {
  padding: 0;
  position: relative;
  margin-top: 2em;
  border-radius: 16px;
  // background-color: $muted-pearl;
  @include border-shadow;

  .post_header {
    margin: 10px;
    display: flex;
    flex-flow: no-wrap; // flex-direction: column;

    // #score {
    // border: 1px black solid;
    // border-radius: 50%;
    // width: 40px;
    // }

    // .rate-cones {
    //   align-items: center;
    //   display: flex;
    // }
  }

  button {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }

  .swiper-slide {
    // margin: 10px 0px;
    // display: flex;
    width: 100%;
    padding: 0;
    flex-direction: column;
    // box-shadow: 3px 3px black;

    img {
      object-fit: cover;
      width: 95%;
      height: 500px;
      box-shadow: none;
      text-align: center;
      margin: auto;
      margin-bottom: .5em;
      display: block;
      border-radius: 10px;
      border: 1px solid $black;
    }

    .like_pics {
      display: flex;
      flex-direction: column;
      align-items: center;


      img {
        background-color: transparent;
        border: none;
        box-shadow: none;
        margin: 5px;
        width: 25px;
        height: 25px;
      }
    }
  }

  img.avatar {
    border-radius: 10px;
    width: 75px;
    height: 75px;
    @include border-shadow(2px 2px)
  }

  .voting-cones svg {
    width: 2em;
  }

  svg.clickCone {

    path {
      fill: #e07a5f
    }
  }

  .post_caption {
    display: flex;
    width: 100%;
    background-color: $yellow;
    border-radius: 0 0 15px 15px;
    border-top: 1px solid $black;

    #innerProfCapt {
      background-color: $muted-pearl;
      border-radius: 10px;
      border: 1px solid $black;
    }
  }
}