//GENERAL STYLING
#pothole-profile-slider {
  height: 100%;
}

//HEADER STYLING
#header {
  align-items: center;
  text-align: center;
  margin: 2%;
  padding: 0;

  #address {
    #totalRating {
      display: flex;
      flex-flow: no-wrap;
      align-items: center;
      .bi-cone-striped{
        width: 12%;
      }
    }
  } 
    // className='justify-content-md-center'
  #ratings {
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: no-wrap;
    #ratingPot {
      .bi-cone-striped {
        width: 10%;
        height: 10%;
      }
    }
  }
}

.post {
  padding: 0;
  width: 80%;
  position: relative;
  margin-top: 2em;
  border-radius: 16px;
  @include border-shadow;


  button {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }

  .swiper-slide {
    // margin: 10px 0px;
    // display: flex;
    width: 100%;
    padding: 0;
    flex-direction: column;
    // box-shadow: 3px 3px black;

    img.potHole_img {
      object-fit: cover;
      width: 95%;
      height: 500px;
      box-shadow: none;
      text-align: center;
      margin: auto;
      margin-bottom: 0.5em;
      display: block;
      border-radius: 10px;
      border: 1px solid $black;
    }

    .like_pics {
      display: flex;
      flex-direction: column;
      align-items: center;

      // img {
      //   background-color: transparent;
      //   border: none;
      //   box-shadow: none;
      //   margin: 5px;
      //   width: 25px;
      //   height: 25px;
      // }
    }
  }

  .voting-cones svg {
    width: 2em;
  }
}

//CAPTION
#post_caption {
  height: 100%;
  padding: 1rem;
  margin-bottom: 0;
  background-color: $yellow;
  border-radius: 0 0 15px 15px;
  border-top: 1px solid $black;

  #innerProfCapt {
    background-color: $muted-pearl;
    border-radius: 10px;
    border: 1px solid $black;
    margin-left: 8em;
  }


}

.badgeAvatar {
  display: flex;
  flex-wrap: no-wrap;
}

#profAvatar {
  padding: 0;

  img.avatar {
    padding: 0;
    @include border-shadow(2.5px 2.5px);
    border-radius: 10px;
    // object-fit: fill;
    // width: 75px;
    // height: 75px;
    // padding: 0;
  }
}

#profBadge {
  border: none;
  padding: 0;
  // margin-left: -40;
  height: 2.2em;
  position: relative;
  bottom: .60em;
  left: 1em;

  .badgeBoy {
    object-fit: fill; // position: absolute;
    // left: 3em;
    // top: 3px;
    height: 100%;
    border: none;
    // min-width: 20px;
    // max-width: 50px;
  }
}



// EVERYTHING UNDER THIS COMMENT IS FOR COMMENT FORM
.comment-container {
  background: #f2cc8f;
  width: 60%;
  height: 20%;
  display: block;
  margin: 10px auto;
  margin-bottom: 20px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 3px 3px rgb(0, 0, 0);
}







// .post_header{
// div {
//   display: flex;
//   flex-wrap: no-wrap;
// }
// }