@import '/node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

$PrimaryColor: #FE5F55;
$DarkColor1: #495867;
$DarkColor2: #577399;
$LightColor1: #F7F7FF;
$LightColor2: #BDD5EA;
$ShadowColor: #000;
$regularText: 'DM Sans', sans-serif;

.dark-mode {
  color: white;
  background: black;
  height: 100%;

h1 {
  color: white;
}

#mainNavbar {
  color: white;
  background-color: $DarkColor1;
}
}


@media (prefers-color-scheme: dark) {
  .dark-mode {
      color: white;
      background: black;
      height: 100%;
  
      h1 {
        color: white;
      }
  
      #mainNavbar {
        color: white;
        background-color: $DarkColor1;
      }
    }
}


#swiper,
#swipper {
  margin: 0;
  display: flex;
  width: 50%;
}

.home {
  width: fit-content;
  margin: 0;
  width: 300px;
}

h1 {
  color: $DarkColor1;
  font-weight: bolder;
}

body {
  background: linear-gradient($LightColor2, $PrimaryColor);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  font-family: $regularText;
  // z-index: -1; // ZM
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-collapse {
  background-color: $LightColor1;
  padding: 3px 10px;
  width: fit-content;
  border-radius: 10px;
  margin: 5px;
}


#mainNavbar {
  background-color: $LightColor1;
  box-shadow: 0 3px 3px $ShadowColor;
  width: 100%;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  z-index: 3;
  display: flex;
  align-content: center;
}

.navbar-brand,
.btn,
.navbar-toggler {
  background-color: $LightColor1;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 0 3px $ShadowColor;
}

.btn:hover,
.navbar-toggler:hover,
.navbar-brand:hover {
  background-color: $LightColor2;
}

.mapboxgl-marker>svg path {
  fill: $PrimaryColor;
}

.page-content {
  display: flex;
  // width: 80%;
  // background-color: #f7f7ff;
  padding: 30px;
  margin: 30px;
  margin-top: 20px;
  flex-direction: column;
  // border: 1px solid $DarkColor1;
  border-radius: 10px;
  z-index: 1;
  height: 100%;

}

.map-box {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 0;
  top: 70px;
}


// POTHOLE PROFILE SCSS
.post {
  background-color: white;
  max-width: 500px;
  border: 1px solid lightgray;
}

.potHole_img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.post_header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post_caption {
  margin-top: 40px;
  display: flex;
  padding-left: 20px;
  justify-content: left;
  align-items: center;
}

.avatar {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

.caption {
  padding-bottom: 35px;
}

.chart-images {
  display: flex;
  justify-content: space-evenly;
  padding-left: 1.25rem;
}

.chart-images>img {
  border-radius: 100px;
}

.mapPopup {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
  align-items: center;

}

.mapPopup a,
.map-box p {
  margin: 0;
}

.mapPopup img {
  border-radius: 3px;
}

.mapboxgl-popup-content {
  padding: 3px;
}
