.map-box,
.mapbox {
  position: fixed;
  width: 100%;
  height: 100%;
}

.mapPopup {
  margin: 0px;
  border-radius: 15px;
  padding: 0;
  box-shadow: -3px -3px 0px rgb(0, 0, 0);
  border: 2px solid black;
}

.mapPopup:hover {
  box-shadow: none;
}

.mapPopup img {
  border-radius: 11px;
  object-fit: cover;
  height: 100px;
  width: 100px;
}

.mapboxgl-popup-close-button,
.mapboxgl-popup-close-button button:not(:disabled),
.mapboxgl-popup-close-button>button>[type='button']:not(:disabled):focus {
  box-shadow: -1px 1px black;
  border-radius: 100%;
  background-color: #f2cc8f;
  border: 2px solid black;
  margin: -10px;
}

.mapboxgl-popup-close-button:hover {
  background-color: #e07a5f;
  box-shadow: none;
}

.mapboxgl-popup-content {
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: rgb(0, 0, 0);
}

.mapboxgl-ctrl-zoom-in,
.mapboxgl-ctrl-icon,
.mapboxgl-ctrl-compass,
.mapboxgl-ctrl-fullscreen,
.mapboxgl-ctrl-geolocate {
  background-color: #e07a5f;
  border: 2px solid black;
}

.mapboxgl-marker>svg {
  path {
    fill: #e07a5f;
  }
}
