//general styling - background etc

#app {
  height: 100%;
  width: 100%;
}

body {
  background-image: url('https://res.cloudinary.com/di6gxsepn/image/upload/v1672966189/mulpdizourlr92zcj1ti.svg');
  background-color: rgba(104, 104, 104, 0.0);
  background-size: cover;
  box-sizing: border-box;
}
