//general styling - background etc
$Montserrat: 'Montserrat', sans-serif;

#app {
  height: 100%;
  width: 100%;
  font-family: $Montserrat;
  font-weight: 900;
}

body {
  background: center / cover no-repeat url('https://res.cloudinary.com/di6gxsepn/image/upload/v1672966189/mulpdizourlr92zcj1ti.svg');
  box-sizing: border-box;
}

body.dark-mode {
  background: center / cover no-repeat url('https://res.cloudinary.com/di6gxsepn/image/upload/v1672966189/mulpdizourlr92zcj1ti.svg'), rgba(0, 0, 0, .75);
}
