
//BUTTONS
.basicButton{
  @include border-shadow(1px 1px, $black);
  background-color: $muted-pearl;
  color: $black;

  .arrow-right {
    border-right: 2px solid $black;
    border-top: 2px solid $black;
    transform: translateX(-25%) rotate(45deg);
  };
  
  .arrow-left {
    border-bottom: 2px solid $black;
    border-left: 2px solid $black;
    transform: translateX(-25%) rotate(45deg);
  };

  &:hover,
  &:focus,
  &:disabled {
    @include border-shadow(2px 2px);
    background-color: $red !important;
    color:$muted-pearl;
    .arrow-right{
      border-right: 2px solid $muted-pearl;
      border-top: 2px solid $muted-pearl;
    }
    .arrow-left{
      border-left: 2px solid $muted-pearl ;
      border-bottom: 2px solid $muted-pearl;
    }
  };
}

.arrow-button {
  background-color: transparent;
  height: 1em;
  width: 1em;
}

.dark-mode {
  .basicButton {
      @include border-shadow(2px 2px, $muted-pearl);
      background-color: transparent;
      color: $muted-pearl;

      .arrow-right {
        border-right: 2px solid $muted-pearl;
        border-top: 2px solid $muted-pearl;
        transform: translateX(-25%) rotate(45deg);
      }

      ;

      .arrow-left {
        border-bottom: 2px solid $muted-pearl;
        border-left: 2px solid $muted-pearl;
        transform: translateX(-25%) rotate(45deg);
      }
}
}