
//BUTTONS
.basicButton{
  @include border-shadow(1px 1px);
  padding: auto;
  background-color: $muted-pearl;
  color: $black;
  height: auto;

  .arrow-right {
    border-right: 2px solid $black;
    border-top: 2px solid $black;
    transform: translateX(-25%) rotate(45deg);
  };
  
  .arrow-left {
    border-bottom: 2px solid $black;
    border-left: 2px solid $black;
    transform: translateX(-25%) rotate(45deg);
  };

  &:hover,
  &:focus {
    @include border-shadow(none);
    background-color: $red !important;
    color:white;
    box-shadow: none;
    .arrow-right{
      border-right: 2px solid $white;
      border-top: 2px solid $white;
    }
    .arrow-left{
      border-left: 2px solid $white ;
      border-bottom: 2px solid $white;
    }
  };
}

.arrow-button {
  background-color: transparent;
  height: 1em;
  width: 1em;
}

.dark-mode {
  .basicButton {
      @include border-shadow(1px 1px, $muted-pearl);
      background-color: $dark-card-background-2;
      color: $muted-pearl;

      .arrow-right {
        border-right: 2px solid $muted-pearl;
        border-top: 2px solid $muted-pearl;
        transform: translateX(-25%) rotate(45deg);
      }

      ;

      .arrow-left {
        border-bottom: 2px solid $muted-pearl;
        border-left: 2px solid $muted-pearl;
        transform: translateX(-25%) rotate(45deg);
      }
}
}