$Montserrat: 'Montserrat', sans-serif;

//BUTTONS
.basicButton {
  font-size: 1em;
  @include border-shadow(2px 2px);
  background-color: $muted-pearl;
  color: $black;

  &:hover,
  &:focus {
    border: 2px solid $black !important;
    background-color: $red !important;
  }
}
