//ADD LINES WITHIN TEXT/ALIGN
.line1::after {
  content: "\a";
  white-space: pre;
}

.line2::before {
  content: "\a";
  white-space: pre;
}

.newline {
  display: inline-block;
}

.alignItems {
  display: flex;
  flex-wrap: nowrap;
}


//all cones
#ratingPot {
  margin: 0;
  width: 100%;
}

.ratingGroupDiv {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: nowrap;
  
  #coneText{
    padding: 2px;
    padding: 0;
    margin: 0;
  }
  #coneCol {
    padding: 0;
    margin: 0;
  }
  #cones {
    width: 80%;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;

    .bi-cone-striped {
      margin-left: 1%;
      margin-right: 1%;
    }
  }
}

#harmless{
  p{
    float: left;
  }
}
#severe{
  p{
    float: right;
  }
}

.bi-cone-striped:hover {
  fill: $red;
  align-items: center;
}

svg.clickCone {
  path {
    fill: $red;
  }
}

.dark-mode{
  .bi-cone-striped{
    fill: $muted-pearl;
  }
}


//CENTER
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
