//RATING CONES (Form and Profile)
//all cones
#ratingGroupDiv {
  // display: inline-flex;
  // justify-content: space-between;
  // align-items: center;
  // text-align: center;
  // width: 100%;
  // @extend p;
  // margin-bottom: 1em;

  .ratingText{
    text-align: center;
    line-height: 100px;
  }

  .ratingElem{
    padding: 0;
  }

  #cones {
    display: inline-flex;
    justify-content:space-between;
    align-items: center;
    margin-left: .5em;
    margin-right: .5em;
  }
}

.bi-cone-striped:hover {
  fill: $red;
  align-items: center;
}

svg.clickCone {
  path {
    fill: $red
  }
}

//CENTER
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}