//FONT VARIABLES
@import url('https://fonts.googleapis.com/css2?family=Esteban&family=Montserrat&display=swap');
$Esteban: 'Esteban', monospace;
$Montserrat: 'Montserrat', sans-serif;

//MAIN TITLE FONT
h1 {
  font-size: calc(35px + 0.390625vw);
  font-family: $Esteban;
}

//SUB-TITLE FONT
h2 {
  font-size: calc(25px + 0.390625vw);
  font-family: $Esteban;
}

//TITLE FONT
h3 {
  font-family: $Esteban;
  font-size: calc(20px + 0.390625vw);
}

//NAVBAR/OPTIONS/PROFILE FONT
h4 {
  font-weight: 400;
  font-size: calc(17px + 0.390625vw);
}

//TEXT FONT
p {
  font-weight: 400;
  line-height: 1.6rem;
  font-size: calc(15px + 0.390625vw);
}

//SPECIFIC TEXT
.buttonFont {
  font-size: calc(15px + 0.390625vw);
}

.xsmall {
  font-size: calc(11px + 0.390625vw)
}

.italic {
  font-style: italic;
}

.dark-mode {
  h1 {
    color: $dark-detail;
  }

  //SUB-TITLE FONT
  h2 {
    color: $dark-detail;
  }

  //TITLE FONT
  h3 {
    color: $dark-detail;
  }

  //NAVBAR/OPTIONS/PROFILE FONT
  h4 {
    color: $dark-detail;
  }

  //TEXT FONT
  p {
    color: $dark-detail;
  }

  //SPECIFIC TEXT
  .buttonFont {
    color: $dark-detail;
  }

  .xsmall {
    color: $dark-detail;
  }

  .italic {
    color: $dark-detail;
  }
}
