//FONT VARIABLES 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Spectral:ital,wght@0,400;1,800&display=swap');

$Poppins: 'Poppins', sans-serif;
$Spectral: 'Spectral', serif;




//MAIN TITLE FONT 
h1 {
  font-family: $Spectral;
  font-size: 2.5em; //ie 50px
  font-weight: 800;
  font-style: italic;
}

//SUB-TITLE FONT 
h2 {
  font-family: $Poppins;
  font-size: 1em; //ie 20px
  font-weight: 300;
}

//TITLE FONT 
h3 {
  font-family: $Spectral;
  font-size: 1em; //ie 20px
  font-weight: 800;
}

//NAVBAR/OPTIONS/PROFILE FONT 
h4 {
  font-family: $Poppins;
  font-size: 0.6em; //ie 12px
  font-weight: 300;
}

//TEXT FONT 
p {
  font-family: $Poppins;
  font-size: 0.5em; //ie 10px
  font-weight: 300;
}