//FONT VARIABLES 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Spectral&display=swap');
$Poppins: 'Poppins', sans-serif;
$Spectral: 'Spectral', serif;

//MAIN TITLE FONT 
h1 {
  font-family: $Spectral;
  font-size: 50px;
}

//SUB-TITLE FONT 
h2 {
  font-family: $Poppins;
  font-size: 20px;
}

//TITLE FONT 
h3 {
  font-family: $Spectral;
  font-size: 20px;
}

//NAVBAR/OPTIONS/PROFILE FONT 
h4 {
  font-family: $Poppins;
  font-size: 12px;
}

//TEXT FONT 
p {
  font-family: $Poppins;
  font-size: 10px;
}