//COLOR VARIABLES 
$black: #000;
$yellow: #F2CC8F;
$red: #E07a5f;
$green: #81b29a;
$blue: #3d405b;
$grey: rgba(92, 88, 88, 0.646);
$muted-pearl: #f4f1de;

//BREAKPOINTS
$breakpoints: (
  small : 480px,
  medium: 700px,
  large : 1024px
)